{% extends 'AppBundle::layout.html.twig' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12 grey lighten-3 center">
                <h2>Historique des scénarios</h2>
                {% if scenarios is not empty %}
                    <table class="responsive-table striped">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Nom du scénario</th>
                            <th>Date de simulation</th>
                            <th>Clients de départ</th>
                            <th>Périodicité</th>
                            <th>Incrément</th>
                            <th>Actions</th>
                            <th><a id="multibutton" class="btn waves-effect waves-ripple">Supprimer sélection</a></th>
                        </tr>

                        </thead>
                        <tbody>
                        {% for scenario in scenarios %}
                            <tr>
                                <td>
                                    <p>
                                        <input type="checkbox" class="psb-js-delete-select"
                                               data-id="{{ scenario.id }}" id="delete-{{ scenario.id }}" name="selected-scenario"
                                               value="{{ scenario.id }}"/>
                                        <label for="delete-{{ scenario.id }}"></label>
                                    </p>
                                </td>
                                <td><a href="{{ path('scenario_show', {'id': scenario.id}) }}">{{ scenario.name }}</a>
                                </td>
                                <td>{{ scenario.createdAt|date("d/M/Y") }}</td>
                                <td>{{ scenario.clientStart }}</td>
                                <td>{{ scenario.periodicity~" mois" }}</td>
                                <td>{{ scenario.clientAdd~" %" }}</td>
                                <td>
                                    <a href="{{ path('scenario_edit', {'id': scenario.id}) }}"
                                       class="btn-floating waves-effect waves-light light-green lighten-1"><i
                                                class="material-icons">edit</i></a>
                                    <a href="{{ path('scenario_show', {'id': scenario.id}) }}"
                                       class="btn-floating waves-effect waves-light light-green lighten-1"><i
                                                class="material-icons">visibility</i></a>
                                    <a class="btn-floating waves-effect waves-light light-green lighten-1"><i
                                                class="material-icons">star</i></a>
                                    <a href="#deleteModal"
                                       class="modal-delete btn-floating waves-effect waves-light light-green lighten-1"
                                       role="button" data-toggle="modalDelete"
                                       data-target-url="{{ path('scenario_delete', {'id': scenario.id}) }}"
                                       data-target="#deleteModal" title="Supprimer ce scénario">
                                        <i class="material-icons">delete</i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="col s12 grey lighten-3 center">
                        <p>Il n'y pas de scénarios dans votre historique pour le moment. Vous pouvez dès à présent
                            en créer en suivant ce
                            <a href="{{ path('app_dashboard') }}">lien</a></p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {# modal delete scenario#}
    <div id="deleteModal" class="modal">
        <div class="modal-content">
            <h4>Modal Header</h4>
            <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
            <a href="#" id="removeLink" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/modalDelete.js') }}"></script>
    <script src="{{ asset('js/multiDelete.js') }}"></script>
{% endblock %}