{% extends 'AppBundle::layout.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col s12 center history-content">
            <h2>Historique des scénarios</h2>
            <div class="col s12" style="position: relative">
                <a class="left btn waves-effect waves-light light-green lighten-1" href="{{ path ("app_dashboard") }}">Ajouter un Scénario</a>
                <a id="show-favorites" class="center btn waves-effect waves-light light-green lighten-1" >Favoris</a>
                <a href="#multiDeleteModal" id="multibutton" class="left  modal-multi-delete btn waves-light light-green lighten-1 mrg-l-15" data-toggle="modalDelete">Supprimer la sélection</a>
                <input class="right input-search k-js-input-search" data-toggle="modalDelete" style="width: 20%;"><i class="material-icons" style="position: absolute; right: 8px; top: 20px;">search</i>
                <div style="width: 20%; position: absolute; right: 8px; top: 46px; z-index: 45;">
                    <ul style="padding: 0; margin: 0" class="k-js-result-search-scenario collection"></ul>
                </div>
            </div>
            {% if scenarios is not empty %}
                <table class="responsive-table striped">
                    <thead>
                    <tr>
                        <th class="center">Nom du scénario</th>
                        <th class="center">Date de simulation</th>
                        <th class="center">Clients de départ</th>
                        <th class="center">Périodicité</th>
                        <th class="center">Incrément</th>
                        <th class="center">Favoris</th>
                        <th class="center">Supprimer</th>
                    </tr>
                    </thead>
                    <tbody class="spb-js-show-all">
                    {% for scenario in scenarios %}
                        <tr>
                            <td class="center"><a href="{{ path('scenario_show', {'id': scenario.id}) }}">{{ scenario.name }}</a><i style="color: #039be5;" class="spb-js-edit right material-icons" data-id="{{ scenario.id }}" data-name="{{ scenario.name }}">edit</i>
                            </td>
                            <td class="center">{{ scenario.createdAt|date("d/M/ Y") }}</td>
                            <td class="center">{{ scenario.clientStart }}</td>
                            <td class="center">{{ scenario.periodicity~" mois" }}</td>
                            <td class="center">{{ scenario.clientAdd~" %" }}</td>
                            <td class="center">
                                {% if scenario.isBookmarked == null or scenario.isBookmarked == false  %}
                                    <a data-tooltip="Ajouter aux favoris" data-position="bottom" data-delay="50" href="{{ path('scenario_add_bookmark', {'id': scenario.id}) }}" class="btn-floating btn tooltipped waves-effect waves-light light-green lighten-1"><i
                                            class="material-icons">star</i></a>
                                {% else %}
                                    <a data-tooltip="Supprimer des favoris" data-position="bottom" data-delay="50" href="{{ path('scenario_delete_bookmark', {'id': scenario.id}) }}" class="tooltipped favorited"><i
                                        class="material-icons" style="color: #9ccc65">star</i></a>
                                {% endif %}
                            </td>
                            <td class="center">
                                <p>
                                    <input type="checkbox" class="psb-js-delete-select"
                                           id="delete-{{ scenario.id }}" name="selected-scenario"
                                           value="{{ scenario.id }}" data-id="{{ scenario.id }}"/>
                                    <label for="delete-{{ scenario.id }}"></label>
                                </p>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tbody class="spb-js-show-favorites" style="display: none;">
                    {% if favorites is not empty %}
                        {% for favorite in favorites %}
                                <tr>
                                    <td class="center"><a href="{{ path('scenario_show', {'id': favorite.id}) }}">{{ favorite.name }}</a><i style="color: #039be5;" class="spb-js-edit right material-icons" data-id="{{ favorite.id }}" data-name="{{ favorite.name }}">edit</i>
                                    </td>
                                    <td class="center">{{ favorite.createdAt|date("d/M/ Y") }}</td>
                                    <td class="center">{{ favorite.clientStart }}</td>
                                    <td class="center">{{ favorite.periodicity~" mois" }}</td>
                                    <td class="center">{{ favorite.clientAdd~" %" }}</td>
                                    <td class="center">
                                        {% if favorite.isBookmarked == null or favorite.isBookmarked == false  %}
                                            <a data-tooltip="Ajouter aux favoris" data-position="bottom" data-delay="50" href="{{ path('scenario_add_bookmark', {'id': favorite.id}) }}" class="btn-floating btn tooltipped waves-effect waves-light light-green lighten-1"><i
                                                        class="material-icons">star</i></a>
                                        {% else %}
                                            <a data-tooltip="Supprimer des favoris" data-position="bottom" data-delay="50" href="{{ path('scenario_delete_bookmark', {'id': favorite.id}) }}" class="tooltipped favorited"><i
                                                        class="material-icons" style="color: #9ccc65">star</i></a>
                                        {% endif %}
                                    </td>
                                    <td class="center">
                                        <p>
                                            <input type="checkbox" class="psb-js-delete-select"
                                                   id="delete-{{ favorite.id }}" name="selected-favorite"
                                                   value="{{ favorite.id }}" data-id="{{ favorite.id }}"/>
                                            <label for="delete-{{ favorite.id }}"></label>
                                        </p>
                                    </td>
                                </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td class="grey lighten-3">Vous n'avez pas de scénarios favoris pour le moment. Vous pouvez en ajouter en cliquant sur le bouton Etoile.</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
                <div class="col s12">
                    <a href="#multiDeleteModal" id="multibutton" class="right modal-multi-delete btn waves-light light-green lighten-1" data-toggle="modalDelete">Supprimer la sélection</a>
                </div>
            {% else %}
                <div class="col s12 grey lighten-3 center">
                    <p>Il n'y pas de scénarios dans votre historique pour le moment. Vous pouvez dès à présent
                        en créer en suivant ce
                        <a href="{{ path('app_dashboard') }}">lien</a></p>
                </div>
            {% endif %}
        </div>
    </div>
    {# modal delete scenario#}
    <div id="deleteModal" class="modal">
        <div class="modal-content">
            <h4>Attention</h4>
            <p>Vous êtes sur le point de supprimer ce scénario. Il vous sera impossible de le récupérer après la
                <suppression class=""></suppression>
            </p>
        </div>
        <div class="modal-footer">
            <a href="#" id="removeLink" class="modal-action modal-close waves-effect waves-green btn-flat">Oui</a>
            <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">Non</a>
        </div>
    </div>

    {# modal multidelete scenario#}
    <div id="multiDeleteModal" class="modal">
        <div class="modal-content">
            <h4>Attention</h4>
            <p>Vous êtes sur le point de supprimer les scénarios sélectionnés. Il vous sera impossible de les récupérer
                après la suppression. Etes-vous sûr de vouloir continuer ?
                <suppression class=""></suppression>
            </p>
        </div>
        <div class="modal-footer">
            <a href="#" id="multiDeleteButton" class="modal-action modal-close waves-effect waves-green btn-flat">Oui</a>
            <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">Non</a>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/modalDelete.js') }}"></script>
    <script src="{{ asset('js/multiDelete.js') }}"></script>
    <script src="{{ asset('js/edit.js') }}"></script>
    <script src="{{ asset('js/bookmark.js') }}"> </script>
    <script src="{{ asset('js/search.js') }}"></script>
{% endblock %}