{% extends 'AppBundle::layout.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col s12 center">
            <h2>Historique des scénarios</h2>
            <div class="right"><a href="#multiDeleteModal" id="multibutton" class="modal-multi-delete btn waves-effect waves-ripple" data-toggle="modalDelete">Supprimer sélection</a></div>
            {% if scenarios is not empty %}
                <table class="responsive-table striped">
                    <thead>
                    <tr>
                        <th class="center">Nom du scénario</th>
                        <th class="center">Date de simulation</th>
                        <th class="center">Clients de départ</th>
                        <th class="center">Périodicité</th>
                        <th class="center">Incrément</th>
                        <th class="center">Favoris</th>
                        <th class="center">Supprimer</th>
                    </tr>

                    </thead>
                    <tbody>
                    {% for scenario in scenarios %}
                        <tr>
                            <td class="center"><a class="spb-js-edit" data-id="{{ scenario.id }}" data-name="{{ scenario.name }}">{{ scenario.name }}<i class="right material-icons">edit</i></a>
                            </td>
                            <td class="center">{{ scenario.createdAt|date("d/M/Y") }}</td>
                            <td class="center">{{ scenario.clientStart }}</td>
                            <td class="center">{{ scenario.periodicity~" mois" }}</td>
                            <td class="center">{{ scenario.clientAdd~" %" }}</td>
                            <td class="center">
                                <a class="btn-floating waves-effect waves-light light-green lighten-1"><i
                                            class="material-icons">star</i></a>
                            </td>
                            <td class="center">
                                <p>
                                    <input type="checkbox" class="psb-js-delete-select"
                                           id="delete-{{ scenario.id }}" name="selected-scenario"
                                           value="{{ scenario.id }}" data-id="{{ scenario.id }}"/>
                                    <label for="delete-{{ scenario.id }}"></label>
                                </p>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="right"><a href="#multiDeleteModal" id="multibutton" class="modal-multi-delete btn waves-effect waves-ripple" data-toggle="modalDelete">Supprimer sélection</a></div>
            {% else %}
                <div class="col s12 grey lighten-3 center">
                    <p>Il n'y pas de scénarios dans votre historique pour le moment. Vous pouvez dès à présent
                        en créer en suivant ce
                        <a href="{{ path('app_dashboard') }}">lien</a></p>
                </div>
            {% endif %}
        </div>
    </div>
    {# modal delete scenario#}
    <div id="deleteModal" class="modal">
        <div class="modal-content">
            <h4>Attention</h4>
            <p>Vous êtes sur le point de supprimer ce scénario. Il vous sera impossible de le récupérer après la
                <suppression class=""></suppression>
            </p>
        </div>
        <div class="modal-footer">
            <a href="#" id="removeLink" class="modal-action modal-close waves-effect waves-green btn-flat">Oui</a>
            <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">Non</a>
        </div>
    </div>

    {# modal multidelete scenario#}
    <div id="multiDeleteModal" class="modal">
        <div class="modal-content">
            <h4>Attention</h4>
            <p>Vous êtes sur le point de supprimer les scénarios sélectionnés. Il vous sera impossible de les récupérer
                après la suppression. Etes-vous sûr de vouloir continuer ?
                <suppression class=""></suppression>
            </p>
        </div>
        <div class="modal-footer">
            <a href="#" id="multiDeleteButton" class="modal-action modal-close waves-effect waves-green btn-flat">Oui</a>
            <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">Non</a>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/modalDelete.js') }}"></script>
    <script src="{{ asset('js/multiDelete.js') }}"></script>
{% endblock %}