{% extends 'AppBundle::layout.html.twig' %}
{% block content %}
    <div class="container-fluid" id="index-form" style="margin: 50px auto">
        <div class="row">
            <div class="col s12 grey lighten-3">
                <h2>Simulateur</h2>
                <h5>Comment ça marche ?</h5>
                <p>Il suffit de renseigner les données manquantes à la phrase suivante :</p>
                <p>Je souhaite connaître le coût du serveur <b>{Nom du serveur}</b>. Au départ avec <b>{Nombre d'utilisateurs}</b> utilisateurs en simultané, puis tous les <b>{Périodicité}</b> mois, <b>{Pourcentage d'utilisateurs}</b> % s'ajouteront à ce serveur.</p>
                <p><i>Exemple : </i></p>
                <p><i>Je souhaite connaître le coût du serveur <b>Corporate</b>. Au départ avec <b>10000</b> utilisateurs en simultané, puis tous les <b>3</b> mois, <b>5</b> % s'ajouteront à ce serveur.</i></p>
                {% for type, flash_messages in app.session.flashBag.all %}
                    {% for flash_message in flash_messages %}
                        <div class="flash-{{ type }} card red" id="card-alert">
                            <div class="card-content white-text">
                                <p><i class="mdi-alert-error"></i> Error: {{ flash_message }}</p>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
                {{ form_start(form) }}
                <div class="col s12">
                    {{ form_row(form.name) }}
                </div>
                <div class="col s4">
                    {{ form_row(form.clientStart) }}
                </div>
                <div class="col s4">
                    {{ form_row(form.periodicity) }}
                </div>
                <div class="col s4">
                    {{ form_row(form.clientAdd, { 'attr': {'placeholder': 'Ce nombre est un %'} }) }}
                </div>
                    <!-- Modal Button -->
                    <a class="btn waves-effect waves-light right light-green lighten-1 js-submit_scenario" href="#confirm_scenario_modal">Load</a>

                    <!-- Modal Structure -->
                    <div id="confirm_scenario_modal" class="modal">
                        <div class="modal-content">
                            <h4>Are you ready ?</h4>
                            <p><i>Temps d'attente estimé à 10 minutes</i></p>
                        </div>
                        <div class="modal-footer">
                            <!-- Submit Button (confirmation) -->
                            <button class="btn waves-effect waves-light right light-green lighten-1" type="submit" name="action">Yes</button>
                            <a href="#" class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
        <div class="row">
            {% if scenario is defined %}
            <input id="chartDatas" hidden="hidden" value="{{ data }}">
                <div class="col s12 grey lighten-3">
                    <h2 class="left">{{ scenario.name }}</h2>
                    <div class="right" style="margin-top: 25px;">
                        <a href="{{ path('scenario_edit', {'id': scenario.id}) }}" class="btn-floating btn-large waves-effect waves-light light-green lighten-1"><i class="material-icons">edit</i></a>
                        <a class="btn-floating btn-large waves-effect waves-light light-green lighten-1"><i class="material-icons">star</i></a>
                        <a class="btn-floating btn-large waves-effect waves-light light-green lighten-1"><i class="material-icons">delete</i></a>
                    </div>
                    {% include 'AppBundle:dashboard:chart.html.twig' %}
                    <hr>
                    <div class="row">
                        <div class="col s6 m6">
                            <p>
                                <b>Date de la simulation: </b>{{ scenario.createdAt|date("d/m/Y") }}<br>
                                <b>Nombre d'utilisateur de départ: </b>{{ scenario.clientStart }}<br>
                                <b>Incrémentation mensuelle: </b>{{ scenario.periodicity~" mois" }}<br>
                                <b>Pourcentage d'ajout client: </b>{{ scenario.clientAdd~" %" }}
                            </p>
                        </div>
                        <div class="col s6 m6">
                            <p><b>Total: </b>{{ totalPrice~" EUR" }}</p>
                            <p><b>Total Green: </b>{{ totalGreenPrice~" EUR" }}</p>
                        </div>
                        <div >
                            <table class="striped centered">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Core</th>
                                    <th>CPU</th>
                                    <th>RAM</th>
                                    <th>Disque</th>
                                    <th>Capacité<br> simultanée</th>
                                    <th>Maintenance | Green <br>(EUR/mois)</th>
                                    <th>Coût d'achat | Green <br>(EUR)</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for key,value in servers %}
                                    {% if value is not empty %}
                                        <tr>
                                            <td>Serveur 1</td>
                                            <td>1</td>
                                            <td>2</td>
                                            <td>3</td>
                                            <td>4</td>
                                            <td>{{ infoServers[key]["capacity"] }}</td>
                                            <td>{{ infoServers[key]["priceByMonth"]~" | "~infoServers[key]["greenPriceByMonth"] }}</td>
                                            <td>{{ infoServers[key]["buyingPrice"]~" | "~infoServers[key]["greenBuyingPrice"] }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/dashboard.js') }}"></script>
{% endblock %}