{% extends 'AppBundle::layout.html.twig' %}
{% block content %}
    <div class="container" style="margin: 50px auto">
        <div class="row">
            <div class="col s12 grey lighten-3">
                <h2>Simulateur</h2>
                <h5>Comment ça marche ?</h5>
                <p>Il suffit de renseigner les données manquantes à la phrase suivante :</p>
                <p>Je souhaite connaître le coût du serveur <b>{Nom du serveur}</b>. Au départ avec <b>{Nombre d'utilisateurs}</b> utilisateurs en simultané, puis tous les <b>{Périodicité}</b> mois, <b>{Pourcentage d'utilisateurs}</b> % s'ajouteront à ce serveur.</p>
                <p><i>Exemple : </i></p>
                <p><i>Je souhaite connaître le coût du serveur <b>Corporate</b>. Au départ avec <b>10000</b> utilisateurs en simultané, puis tous les <b>3</b> mois, <b>5</b> % s'ajouteront à ce serveur.</i></p>
                {{ form_start(form) }}

                <div class="col s12">
                    {{ form_row(form.name) }}
                </div>
                <div class="col s4">
                    {{ form_row(form.clientStart) }}
                </div>
                <div class="col s4">
                    {{ form_row(form.periodicity) }}
                </div>
                <div class="col s4">
                    {{ form_row(form.clientAdd) }}
                </div>

                    <!-- Modal Button -->
                    <a class="btn waves-effect waves-light right light-green lighten-1 js-submit_scenario spb-js-start-chrono" href="#confirm_scenario_modal">Load</a>

                    <!-- Modal Structure -->
                    <div id="confirm_scenario_modal" class="modal">
                        <div class="modal-content">
                            <h4>Are you ready ?</h4>
                            <p><i>Temps d'attente estimé à 10 minutes</i></p>
                        </div>

                        <div class="modal-footer">
                            <!-- Submit Button (confirmation) -->
                            <button class="btn waves-effect waves-light right light-green lighten-1" type="submit" name="action">Yes</button>
                            <a href="#" class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
        <div class="row" style="border-top: 1px #9e9e9e solid">
            {% if scenario is defined %}
                <div class="col s12 grey lighten-3">
                    <h2 class="left">{{ scenario.name }}</h2>
                    <div class="right" style="margin-top: 25px;">
                        <a href="{{ path('scenario_edit', {'id': scenario.id}) }}" class="btn-floating btn-large waves-effect waves-light light-green lighten-1"><i class="material-icons">edit</i></a>
                        <a class="btn-floating btn-large waves-effect waves-light light-green lighten-1"><i class="material-icons">star</i></a>
                        <a class="btn-floating btn-large waves-effect waves-light light-green lighten-1"><i class="material-icons">delete</i></a>
                    </div>
                    {# TODO - display graph#}
                    <div class="row">
                        <div class="col s6 m6">
                            <p>
                                <b>Nombre d'utilisateur de départ: </b>{{ scenario.clientStart }}<br>
                                <b>Incrément: </b>{{ scenario.clientAdd~" %" }}

                            </p>
                        </div>
                        <div class="col s6 m6">
                            <p>
                                <b>Intervalle: </b>{{ scenario.periodicity~" mois" }}<br>
                                <b>Date de la simulation: </b>{{ scenario.createdAt|date("d/M/Y") }}
                            </p>
                        </div>
                    </div>
                </div>
                <script src="{{ asset('js/chrono.js') }}"></script>
                <div class="chrono" style="width: 80%; margin: auto;">
                    <div style="float: right">
                        <span>Le temps estimé est d'environ </span><span class="psb-js-chrono-minutes">11</span><span class="psb-js-inner-minutes"> minutes </span><span class="psb-js-chrono-secondes">00</span><span class="psb-js-inner-secondes"> secondes</span>
                    </div>
                    <div class="progress" >
                        <div class="indeterminate"></div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/dashboard.js') }}"></script>
{% endblock %}